body{
  background-color:white;
}
.container {
  position: relative;
}

.center {
  position: absolute;
  bottom:600px;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
button{
	font-family:Georgia;
	font-size: 69px;
	color: white;
	background-color:black;
}
h1{
	font-family: Georgia;
	font-size:75px;
}