<!DOCTYPE html>
<html>
<head>
	<title>submit request</title>
	<style>
body{
	font-family: "Lato", sans-serif;
font-size: 30px;
}	
div{
text-align: center;
}


	</style>
</head>
<body>


   <div> 
<h2>Send us your requests:</h2>

<form action="mailto:monakk10@gmail.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="100"><br><br>
<input style="color:black;" type="submit" value="Send">
<input style="color:black;" type="reset" value="Reset">
</form>
</div>

</body>
</html>